.row
  .col-md-12
    %h2= link_to @activity.name, unit_activity_path(@unit, @activity)

.row
  .col-md-12
    %h1 Ask a Question


%br

.row
  .col-md-8
    = render 'form'


%br
= link_to "< " + @activity.name, unit_activity_path(@unit, @activity)