#info
  .row
    .col-md-12
      %h1 About

  .row
    .col-md-2
    .col-md-8
      %p Scout Activity helps in taking the ideas of Scouts, leaders, and parents on fun activities and to poll for the the popularity of the ideas. 
      .text-center
        %p= button_to "Get started!", root_path, method: :get, class: 'btn btn-primary'

  .row.mt-4
    .col-md-2
    .col-md-8
      %p
        %span.strong Why did I build ScoutActivity?
        I've been involved with Scouting for a long time, as an Eagle, Cubmaster, Committee Chair, and probably more roles. Scouting is by all efforts 'Scout led', but the reality is, they need good ideas to work with. Often these are activities reused over many years, with few new activities. So I thought, how can I create a way for parents to offer up ideas online (COVID is keeping us virtual) based on their own skillsets, that can be put in front of Scouts to read about and vote on.

  .row
    .col-md-2
    .col-md-8
      %p.questions
        %span.strong Questions or feedback?
        = mail_to "carson.cole@gmail.com"

  .row
    .col-md-2
    .col-md-8
      %br
      %p 
        ScoutActivity code is open sourced
        = link_to "here.", "https://github.com/carsoncole/scout_activity"

