.row
  .col-md-3
  .col-md-6
    #faqs
      %h1 FAQs

      .faq
        .question Does voting require registering?
        .answer Yes. A person must register AND they must select the correct Unit, as they can only vote for the Unit's activities that they selected. 

      .faq
        .question How many votes does each User get?
        .answer The default number of votes is 20, but this can be changed by the adminstrator of the Unit.

      .faq
        .question Can I delete or archive an activity?
        .answer Yes. Deleting or archiving can be done by the author of the activity or Administrator of the Unit and will remove the activity from voting and also return all votes.

      .faq
        .question How can I reset the votes?
        .answer
          To remove votes, the Administrator of the Unit should set the votes allowed
          to `0`, which will remove all votes (the system will remove any user excess votes as you reduce the number). Once the votes have been removed, the votes allowed can be set to any number.

      .faq
        .question How can I copy an activity?
        .answer
          Yes. You must be a Unit administrator (you created the Unit). View any activity and click the copy link, which will result in the activity being copied. Images will be copied. Questions and answers will not be copied.
          %br
          .text-center= image_tag "activity-action-links.jp2", class: 'img-fluid rounded shadow-sm p-3 mb-5'
          