#info
  .row
    .col-md-12
      %h1 Info

  .row
    .col-md-2
    .col-md-8
      %p Scout Activity helps in taking the ideas of Scouts, leaders, and parents on fun activities and to poll for the the popularity of the ideas. 
      %p= link_to "Get started!", root_path

  .row
    .col-md-2
    .col-md-8
      %p.questions
        %span.strong Questions?
        = mail_to "carson.cole@gmail.com"