.row
  .col-md-12
    %h2= link_to @activity.name, troop_activity_path(@troop, @activity)

.row
  .col-md-8
    %h1= @question.content

    = render 'form'

%br
= link_to "< " + @activity.name, troop_activity_path(@troop, @activity)