@import "bootstrap/scss/bootstrap";

nav.navbar {
  margin-bottom: 6rem;
}

table.activities {
  width: 100%;
  th, td {
    vertical-align: middle;
    line-height: 1.666em;
  }

  td {
    font-size: 1.2rem;
  }

  td:not(:first-child), th {
    text-align: center;
  }

  td.vote, th.vote {
    width: 8rem;
    button {
      margin-left: 0.3rem;
      margin-right: 0.3rem;
    }
  }
  th.votes-count, td.votes-count {
    width: 5rem;
    font-weight: 900;
    font-size: 1.3rem;
  }
  form {
    display: inline-block;
  }

}