a {
  text-decoration: none;
  color: #0056b3;
  &:hover {
    background-color: transparent !important;
    text-decoration: none;
  }
  &:visited {
    color: #0056b3 !important;
  }
}

nav.navbar {
  margin-bottom: 6rem;
}

table.activities {
  width: 100%;
  th, td {
    vertical-align: middle;
    line-height: 1.666em;
  }

  td {
    font-size: 1.2rem;
  }

  td:not(:first-child), th {
    text-align: center;
  }

  td.vote, th.vote {
    width: 8rem;
    button {
      margin-left: 0.3rem;
      margin-right: 0.3rem;
    }
  }
  th.votes-count, td.votes-count {
    width: 5rem;
    font-weight: 900;
    font-size: 1.3rem;
  }
  form {
    display: inline-block;
  }

}

#activities {
  h1 {
    margin-bottom: 3em;
    text-align: center;
  }
}

#info {
  h1 {
    text-align: center;
    margin-bottom: 1.666em;
  }
  p {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5em;
  }
}
#home {
  .logo {
    text-align: center;
  }
}
#clearance {
  &.sign-up, &.sign-in {
    .other-links {
      margin-top: 1em;
    }
  }
}