$text-muted-color: #999;

a {
  text-decoration: none;
  color: #0056b3;
  &:hover {
    background-color: transparent !important;
    text-decoration: none;
  }

}

h1 {
  font-size: 2.2em;
  margin-bottom: 2em;
}

.container#main {
  margin-top: 3rem;
}

#share-links {
  h1 {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 0.2em;
  }
  text-align: center;
  .link {
    background-color: #efefef;
    padding: 0.75em;
    font-weight: 500;
    margin-top: 0.75em;
    margin-bottom: 1.2em;
  }
  p {

    margin-bottom: 0;
  }
  border: 1px solid #efefef;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  margin: 1.666rem 0;
}


ul.activities {
  margin-bottom: 3rem;
  .name {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5em;
  }
  .voting {
    float: right;
    width: 16.5em;
    text-align: right;

  }
  .vote {
    display: inline-block;
    width: 7rem;
    text-align: center;
    form {
      display: inline-block;

      button {
        display: inline-block;
        margin-left: 0.3rem;
        margin-right: 0.3rem;
      }
    }
  }
  .votes-count {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 1em;
    width: 4rem;
    font-weight: 800;
    font-size: 1.2rem;
    .votes {
      font-size: 0.9rem;
      color: $text-muted-color;
      font-weight: 400;
    }
  }
}

table.activities {
  th, td {
    padding: 0.3em;
    line-height: 1.5em !important;
  }
  width: 100%;
  th, td {
    vertical-align: middle;
    line-height: 1.666em;
  }

  td {
    font-size: 1.2rem;
  }

  td:not(:first-child), th {
    text-align: center;
  }

  td.vote, th.vote {
    width: 7.5rem;
    button {
      margin-left: 0.3rem;
      margin-right: 0.3rem;
    }
  }
  th.votes-count, td.votes-count {
    width: 4rem;
    font-weight: 800;
    font-size: 1.3rem;
  }
  form {
    display: inline-block;
  }
  .last-update {
    color: $text-muted-color;
    font-size: 0.7em;
  }
}
#error-message {
  background-color: red;
  padding: 1.2em 1.5em;
  margin: 2rem auto;
  border-radius: 4px;
  font-weight: 400;
  color: #ffffff;
  line-height: 2em;

  .error-icon {
    margin-right: 0.8em;
    display: inline-block;
  }

  ul li:last-child {
    margin-bottom: 0;
  }
  ul {
    margin-bottom: 0;
  }
}

#error_explanation {
  padding: 1em 1.5em 0.5em 1.5em;
  background-color: #ddd;
  margin: 1em 0;
  color: #f00;
  .message {
    font-size: 1.2em;
  }
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

#activities {
  h1 {
    margin-bottom: 1.5em;
    line-height: 1.2em;
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
  }
  .btn {
    margin: 0.25em;
  }
  .share-link {
    display: block;
    text-align: center;
    margin-top: 4rem;
  }
  .list-group-item {
    padding-right: 0.4em;
  }
}

#info {
  h1 {
    text-align: center;
    margin-bottom: 1.666em;
  }
  p {
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.5em;
  }
  .strong {
    display: inline-block;
    font-weight: 700;
  }
}
#home {
  h5 {
    margin-bottom: 1em;
  }
  form.button_to {
    display: inline-block;
  }
  .btn.troop {
    margin: 0.3em 0.3em;
    display: inline-block;
    vertical-align: top;
  }
  .btn-primary {
    color: #fff;
    &:visited {
      color: #fff;
    }
  }
}
#troop-selection {
  h1 {
    color: #999;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0.5em 0;
    text-align: center;
  }
  h2 {
    color: #999;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0.5em 0;
    text-align: center;
  }
}

#clearance {
  &.sign-up, &.sign-in, &.password-reset {
    h1 {
      margin-bottom: 1.66em;
    }
    .other-links {
      margin-top: 1em;
    }
    small.text-muted {
      display: block;
      margin-top: 1em;
    }
  }
}
#unit {
  h2 {
    margin-top: 2rem;
  }
  table#users {
    margin-top: 1.66em;
    th.email, td.email {
    }
    th.vote-count, td.vote-count {
      width: 8em;
      text-align: center;
    }
  }
}
footer {
  margin-top: 8rem;
  margin-bottom: 2rem;
  font-size: 0.85em;
  text-align: center;
  a {
    color: #ccc;
  }
  color: #ccc;
}
trix-editor {
  overflow-y: auto;
  &.summary {
    height: 50px !important;
  }
}


.activity-icon {
  display: inline;
}


#activity {
  h1 {
    margin-bottom: 0;
  }
  h2 {
    font-size: 1.4rem;
    margin-bottom: 1em;
  }
  .activity-count {
    text-align: center;
    font-size: 5rem;
    font-weight: 900;
    line-height: 1em;
  }

  .activity-icons {
    font-size: 1.3rem;
    margin-bottom: 1.5em;
  }
  .activity-icon {
    display: inline;
  }
  .votes {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    line-height: 0.9em;
  }
  img {
    clear: both;
    text-align: center;
    margin: 1em auto;
    padding: 1.25em 0;

  }
  form {
    display: inline-block;
  }
  .action {
    display: inline-block;
    margin-right: 1rem;
    line-height: 1.66em;
  }
}

/* FLASH
   ============================================================ */

.flash {
  padding: 1em;
  font-weight: 500;
  color: #fff;

  &.notice {
    background-color: #28a745;
  }
  &.warning {
    background-color: #ffc107;
  }
  &.alert {
    background-color: #ffc107;
  }
}
/* Tooltips
   ============================================================ */

.tooltip {
  margin-top: 8px;
}

.tooltip-inner {
  font-size: 1em;
  font-weight: normal;
  padding: 0.75em 1em;
}

#features {
  margin-top: 1.7rem;

  h1 {
    font-size: 3.8rem;
    margin-top: 0.8em;
    font-weight: 300;
    letter-spacing: 0.2px;
    margin-bottom: 1.7em;
  }
  h2 {
    margin-top: 1.2em;
    margin-bottom: 2em;
    font-size: 2.4rem;
    font-weight: 300;
  }
  p {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.666em;
  }

  ul li {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.9rem;
    margin-left: 4em;
    .activity-icon {
      margin-left: 0.6em;
      display: inline-block;
    }
    img {
      margin: 0;
    }
  }
  img {
    margin: 2rem auto;
  }

  .target-message {
    font-weight: 600rem;
    font-style: italic;
    font-size: 1.4rem;
    background-color: #efefef;
    padding: 1.8em 2.2em;
    margin: 2em;
  }
}

.get-started {
  margin: 2em 0;
  padding: 2.5em 0;
  border-top: 2px solid #efefef;
  border-bottom: 2px solid #efefef;
  text-transform: uppercase;
  .btn.btn-lg {
    font-weight: 700 !important;
    padding: 0.6em 2em;
  }
}

a.btn {
  &:visited {
    color: inherit;
  }
  &:hover {
    color: #fff !important;
    background-color: #0069d9 !important;
    border-color: #0062cc !important;
  }
}
#discussion {
  margin-top: 2.5rem;
  background-color: #efefef;
  padding: 1em;
  h1 {
    font-size: 1.3rem;
    margin-bottom: 0;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 0.5em;
  }
  .question, .answer {
    line-height: 1.4em;
  }
  .question {
    font-weight: 700;
    margin-top: 1.2em;
  }
  .question-author, .answer-author {
    font-size: 0.8em;
    color: $text-muted-color;
  }
  .answer {
    margin-left: 1rem;
    margin-top: 0.5em;
  }
  .answer-link, .question-link {
    display: block;
    margin-top: 0.5em;
  }
  .answer-author, .answer-link {
    margin-left: 1rem;
  }
  .answer-link {
    margin-bottom: 1.1em;
  }
  .sign-in-link {
    display: block;
    margin-top: 1.5em;
  }
  .question-link {
    display: block;
    margin-top: 1.5em;
  }
}
#faqs {
  .faq {
    h2 {
      font-size: 1.2rem;
      font-weight: 500;
    }
    p {
      font-size: 1rem;
      font-weight: 300;
    }
    margin-bottom: 2em;
    .question {
      font-weight: 600;
    }
  }
}