%main
  .row
    .col-md-12
      %h1
        COVID Safe Troop Activity Ideas

  - if signed_in?
    .row
      .col-md-3
      .col-md-6
        .text-center.mb-5
          .vote-count
            .badge.badge-primary#votes-available= current_user.unit_votes_available
            %span.text-muted votes left

  #activities

    .row
      .col-md-1
      .col-md-10
        .important-icon= fa_icon "head-side-mask"


    .row
      .col-md-1
      .col-md-10
        = render @activities
