%main
  .row
    .col-md-12
      %h1
        COVID Safe Troop Activity Ideas

  #activities

    .row
      .col-md-1
      .col-md-10
        .important-icon= fa_icon "head-side-mask"


    .row
      .col-md-1
      .col-md-10
        = render @activities
