%main
  .row
    .col-md-12
      %h1
        = @activities_count
        COVID Safe Troop Activity Ideas

  #activities

    .row
      .col-md-3
      .col-md-6.text-center
        %p This is a curated list of virtual and in-person activities, that due to how they are run, may present a high degree of COVID safety, but ultimnately the determination of that should be determined by the Unit.

    .row
      .col-md-1
      .col-md-10
        .important-icon= fa_icon "head-side-mask"


    .row
      .col-md-1
      .col-md-10
        = render @activities
