%main
  .row
    .col-md-12
      %h1
        = Unit.example.first.activities.count
        Troop Activity Ideas

  - if signed_in?
    .row
      .col-md-3
      .col-md-6
        .text-center.mb-5
          .vote-count
            .badge.badge-primary#votes-available= current_user.example_votes_available
            %span.text-muted votes left

  = render 'activities_filter'
  .row
    .col-md-1
    .col-md-10
      #activities
        = render @activities
