- if Unit.example.any?
  .row
    .col-md-12.text-center
      .ideas-for-activities
        = link_to "#{Unit.example.first.troop_count} Troop Activity Ideas", troop_activity_ideas_path, class: 'btn btn-lg btn-warning'
