%aside#share-links
  / %h1 Share links

  %p Share the following link to promote signing up for your Unit, voting, and proposing activities.

  .link
    = link_to unit_sign_up_url(@unit), unit_sign_up_url(@unit)


  %p Share the following link to view your Unit's activities.

  .link
    = link_to unit_activities_url(@unit), unit_activities_url(@unit)